//META{"name":"uPsterNight","description":"Future theme for BetterDiscord","author":"Smoothster#3117","version":"1.0"}*//

.container-3baos1 {
    background: orange;
    color: #201d1d;
    border-radius: 50px;
}

.subtext-3CDbHg, .button-14-BFJ {
    color: #fff;
}

.panels-j1Uci_, 
.container-3w7J-x, 
.uploadArea-3QgLtW, 
.chat-3bRxxu, 
.threadSidebar-1o3BTy,
.container-1r6BKw.themed-ANHk51,
.sidebar-2K8pFh,
.members-1998pB, 
.members-1998pB>div,
.wrapper-3NnKdC,
.scroller-1Bvpku,
.channelTextArea-rNsIhG,
.unreadPill-2HyYtt,
.content-1o0f9g,
.theme-dark .container-1D34oG,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.nowPlayingColumn-2sl4cE,
.theme-dark .inset-3sAvek,
.contentRegionScroller-26nc1e,
.contentRegion-3nDuYy,
.sidebarRegionScroller-3MXcoP {
    background: transparent;
}

.container-2lgZY8 {
    background: linear-gradient(180deg, #202b38, #060708);
}

.scroller-2LSbBU::-webkit-scrollbar {
    width: 0;
}

.peopleList-3c4jOR::-webkit-scrollbar {
    width: 0;
}

.sidebarRegionScroller-3MXcoP::-webkit-scrollbar {
    width: 0;
}

.scrollerBase-289Jih::-webkit-scrollbar {
    width: 0;
}

.members-1998pB {
    margin-left: 0;
    border-left: 1px solid #3a475f;
}

.form-2fGMdU {
    padding: 0;
}

.channelTextArea-rNsIhG {
    margin: 0;
}

.scrollableContainer-2NUZem {
    padding: 20px 15px;
    background-color: transparent;
    border-radius: 0;
    position: relative;
}

.scrollableContainer-2NUZem::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 100%;
    margin-left: -15px;
    height: 1px;
    background: #3a475f;
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    opacity: 1;
    width: 35px;
}

.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 45px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.group-spacing-16 .groupStart-23k01U {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(45deg, #070e13, transparent 60%);
    border-radius: 15px;
}

.isUnread-3Ef-o9 {
    background: linear-gradient(45deg, #185167, transparent);
    border-color: none;
}

.divider-JfaTT5 {
    height: 1px;
    border-top: none;
}

.unreadPillCapStroke-7rkHbg {
    color: transparent;
    fill: transparent;
}

.unreadPill-2HyYtt {
    font-size: 10px;
    letter-spacing: 10px;
    color: #1ad1fa;
    text-shadow: 0px 0px 10px #1ad1fa;
}

.ephemeral-1PsL1r:before, .mentioned-xhSam7:before, .replying-1x3H0T:before { 
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
}

.mentioned-xhSam7:before {
    background-color: #1ad1fa;
    box-shadow: 0px 0px 15px #1ad1fa;
}

.content-1o0f9g {
    border: 1px solid #3a475f;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 14px;
    color: #e4e4e4;
}

.wrapper-2aW0bm {
    background: #0e1117;
    border: 1px solid #2b2b35;
    height: 37px;
}

.button-1ZiXG9 {
    height: 30px;
    padding: 3px;
    min-width: 40px;
}

.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover {
    background: linear-gradient(45deg, #1ad1fa1f, transparent);
}

.container-3baos1 {
    height: 75px;
}

.container-3baos1 {
    background: transparent;
    color: #f1f1f1;
    border-radius: 0;
    border-top: 1px solid #3a475f;
}

.platform-win .sidebar-2K8pFh {
    border-right: 1px solid #3a475f;
}

.scroller-2LSbBU {
    padding: 0 35px;
}

.membersGroup-v9BXpm {
    padding: 20px 0px 30px 15px;
    text-transform: none;
    color: #fff;
}

.avatar-3uk_u9 {
    width: 40px !important;
    height: 40px !important;
}

.avatar-3uk_u9 .wrapper-3t9DeA {
    width: 40px !important;
    height: 40px !important;
}

.member-3-YXUe {
    margin: 5px 10px;
}

.layout-2DM8Md {
    padding: 5px;
}

.iconContainer-1BBaeJ {
    display: none;
}

.unread-2lAfLh {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    top: 17px;
    margin-left: -17px;
    margin-top: -5px;
}

.unread-2lAfLh {
    background: #1ad1fa;
    box-shadow: 0px 0px 10px #1ad1fa;
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-bottom: 1.5rem;
}

.header-2V-4Sw, .container-1r6BKw {
    border-bottom: 1px solid #3a475f;
    height: 75px;
}

.searchBar-3dMhjb {
    height: 50px;
    width: 215px;
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    border-radius: 5px;
}

.search-2oPWTC .DraftEditor-root {
    line-height: 45px;
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    padding-left: 5px;
}

.search-2oPWTC .DraftEditor-root .DraftEditor-editorContainer {
    height: 50px;
}

.icon-3cZ1F_ path {
    fill: #fff;
}

.searchBar-3dMhjb .icon-38sknP {
    margin-top: 12px;
    width: 45px;
}

.iconContainer-O4O2CN {
    width: 18px;
    height: 18px;
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: #e4e4e4;
}

.theme-dark .children-19S4PO:after {
    background: transparent;
}

.clickable-3rdHwn .icon-22AiRD {
    color: #fff;
}

.icon-22AiRD {
    width: 30px;
}

.wrapper-3NnKdC {
    border-right: 1px solid #3a475f;
}

.listItem-GuPuDH {
    margin: 5px 0;
    width: 85px;
}

.guilds-1SWlCJ {
    width: 85px;
}

.pill-1z4sAY {
    position: absolute;
    right: -5px;
    top: -3px;
    z-index: 3;
}

.wrapper-sa6paO {
    width: 10px;
    height: 10px;
}

.item-2hkk8m {
    width: 8px;
    border-radius: 50px;
    background-color: #1ad1fa;
}

.icon-2yIBmh {
    position: absolute;
    left: 90%;
    top: 5px;
    width: 17px;
    height: 17px;
}

.avatar-1BDn8e {
    width: 45px;
    height: 45px;
    left: -20px;
    border: 1px solid #293133;
    margin-top: 0;
}

.scroller-RmtA4e {
    padding: 0 30px !important;
}

.sidebar-2K8pFh {
    width: 300px;
}

.content-1x5b-n {
    width: 100%;
    margin-left: 0;
    padding: 0 8px;
}

.expandedFolderBackground-1cujaW {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 7px;
    bottom: 8px;
    width: 50px;
    border-radius: 20px;
    background-color: #2a3a4a;
}

.folder-1hbNCn {
    background-color: #2a3a4a;
}

.folder-1hbNCn.hover-qTxTR_ {
    background: inherit;
}

.tree-2wKJdG:focus {
    outline: 0;
}

.pill-1aYSec {
    position: absolute;
    right: -5px;
    top: 19px;
}

.container-2ax-kl {
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
}

.wrapper-PY0fhH {
    padding-left: 0;
}

.containerDefault-3tr_sE {
    padding-top: 25px;
    padding-bottom: 15px;
}

.wrapper-3WhCwL {
    color: #1ad1fa;
}

.theme-dark .form-2fGMdU:before {
    background: transparent;
}

.searchBar-6Kv8R2 {
    border-bottom: 1px solid #3a475f;
    height: 74px;
}

.outer-1AjyKL {
    background: linear-gradient(45deg, #070e13, transparent 60%); border-radius: 15px;;
}

.body-1ld4H7 {
    margin-top: 20px;
    border-top: 1px solid #242b38;
    border-radius: 0;
}

.headerAvatar-2MDZJn {
    width: 32px !important;
    height: 32px !important;
}

.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
    background: #0e1215;
}

.actionButton-uPB8Fs {
    background: linear-gradient(45deg, #11c6ef26, #0014ff7d);
    color: #e4e4e4;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    height: 45px;
    color: #e4e4e4;
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    padding: 0 10px;
}

.item-3HknzM[aria-controls="ADD_FRIEND-tab"] {
    background: #1ad1fa !important;
    color: #1f202b !important;
}

.standardSidebarView-3F1I7i {
    background: linear-gradient(180deg, #202b38, #060708);
}

.background-1QDuV2 {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.fieldList-21DyL8 {
    background: transparent;
}

.field-1HUseB:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #445a71;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #1f202b;
    background-color: #1ad1fa;
}

.preview-2nSL_2 > .message-2qnXI6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.preview-2nSL_2 {
    background-color: transparent;
}

.cardPrimaryOutline-29Ujqw {
    border-color: transparent;
}

.theme-dark .closeButton-1tv5uR {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.item-26Dhrx[aria-checked=true] {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    color: var(--interactive-active);
}

.item-26Dhrx {
    background-color: #0e0f13;
}

.container-3auIfb {
    opacity: 1 !important;
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.slider-TkfMQL {
    height: 16px;
}

.slider-TkfMQL rect {
    fill: #ffffff;
}

.theme-dark .paymentPane-3bwJ6A {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    color: #f6f6f7;
}

.theme-dark .paginator-166-09 {
    background: transparent;
}

.theme-dark .bottomDivider-1K9Gao {
    border-bottom-color: #445a71;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: #253240;
}

.pageButtonNext-V2kUq0.disabled-BrLY9Y, .pageButtonPrev-1Y-47D.disabled-BrLY9Y {
    border-color: #445a71;
}

.pageIndicator-1gAbyA {
    border-color: #445a71;
}

.pageButtonNext-V2kUq0, .pageButtonPrev-1Y-47D {
    border: 1px solid #638ab3;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: #0e0f13;
}

.theme-dark .expandedInfo-3kfShd {
    background-color: #253240;
}

.header-1RC2Wb {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    border-radius: 5px;
}

.cardWrapper-2Min21 {
    background: transparent;
}

.theme-dark .feature-2w65J5 {
    background-color: #0e0f13;
    border: 1px solid #202225;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: #0e0f13;
    border: 1px solid #202225;
}

.accountList-33MS45 {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
    background-color: #253240;
}

.connection-1fbD7X {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.connectionHeader-2MDqhu {
    background: #253240;
}

.cardPrimary-1Hv-to, .theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s, .theme-dark .card-FDVird:before {
    background-color: #0e0f13;
    border: 1px solid #202225;
}

.theme-dark .root-1gCeng {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.theme-dark .footer-2gL1pp {
    background-color: #253240;
}

.header-2RyJ0Y {
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
}

.side-8zPYf6 .header-2RyJ0Y {
    padding: 20px 10px;
}

.sidebar-CFHs9e {
    width: 260px;
}

.side-8zPYf6 .item-PXvHYJ {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bd-sidebar-header {
    padding: 20px 0px;
    padding-bottom: 5px;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb), .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover:not(.disabled-1Hwwfb) {
    background-color: #2a3a4a4f;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: #258da5;
    color: #ffffff;
}

.wrapper-35wsBm {
    background-color: #0e0f13;
    border: 1px solid #202225;
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.wrapper-2jXpOf {
    display: flex;
    align-items: center;
}

.wrapper-2jXpOf:hover .content-1x5b-n {
    background-color: #253240;
}

.childWrapper-anI2G9 {
    background-color: #2a3a4a;
}

.colorHeaderPrimary-26Jzh- {
    color: #ffffff;
}

.container-UC8Ug1 {
    background-color: #253240;
}

.colorStandard-2KCXvj {
    color: #ffffff;
}

.container-UC8Ug1:hover {
    background-color: #253240;
}

.colorHeaderSecondary-3Sp3Ft {
    color: #ffffff;
}

.theme-dark .footer-2gL1pp, .theme-light .footer-2gL1pp {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-top: 1px solid #445a71;
}

.contents-18-Yxp svg path {
    fill: #fff;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}

.isUnread-3Ef-o9 .content-1o0f9g {
    color: #1ad1fa;
}

.container-enaOkj {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.header-ykumBX {
    background-color: #253240;
}

.primary-2McadE:hover:not(.disabled-3Njyym), .secondary-dIudih {
    background-color: #0e0f13;
}

.collapseButton-2ZsEjz {
    padding: 10px;
}

.channelHeader-3Gd2xq {
    padding-left: 30px;
    padding-right: 15px;
    background-color: #253240;
}

.tertiary-aMXF0g {
    background-color: #0e0f13;
}

.channel-3pEHab {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.divider-39oAwV {
    margin-top: 25px;
    margin-bottom: 35px;
}

.menu-3sdvDG {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    border-radius: 5px;
}

.userPopout-3XzG_A {
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.theme-dark .headerNormal-T_seeN {
    background-color: #253240;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
}

.theme-dark .payment-xT17Mq {
    background-color: transparent;
}

.embedFull-2tM8-- {
    background-color: #0e0f13;
    border-left: 2px solid #202225;
}

.avatarHint-1qgaV3 {
    width: 40px;
    height: 40px;
}

.root-SR8cQa {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
}

.body-3ND3kc {
    height: 240px;
    background-color: transparent;
}

.topSectionNormal-2-vo2m {
    background-color: #253240;
}

.pill-1Z5PKm {
    top: -3px;
}

.wrapper-sa6paO {
    width: 17px;
    height: 55px;
}

.pill-1Z5PKm .item-2hkk8m {
    background: #f70000;
    box-shadow: 0px 0px 10px #f70000;
}

.pill-3N7f9r {
    top: -3px;
}

.container-35XQWE, .bar-30k2ka {
    height: 35px;
}

.unread-1xRYoj {
    border: 1px solid #445a71;
    background-color: #2a3a4a;
    opacity: 1;
}

.bar-30k2ka {
    font-size: 13px;
}

.jumpToPresentBar-G1R9s6 {
    background-color: #2a3a4a;
}

.role-2irmRk {
    font-size: 13px;
    font-weight: 500;
    border: 0;
    border-radius: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 29px;
    width: 100%;
    margin: 0 10px 10px 0;
    padding: 4px;
}

.roleCircle-3xAZ1j {
    margin-right: 10px;
}

.scrollableContainer-2NUZem {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.channel-2QD9_O {
    min-width: 224px;
    margin-left: 8px;
    margin-right: 8px;
}
